.header {
    background: linear-gradient(87deg, rgb(17, 205, 239) 0px, rgb(17, 113, 239) 100%);
}

.footer {
    background: linear-gradient(87deg, rgb(17, 205, 239) 0px, rgb(17, 113, 239) 100%);
}

.viewArea {
    height: 84.2vh;
}